Repository P3K-TEAM/prezentacny-web-timu, pull requests merged in 2020-11, with the labels that each got.

#9 PW-21 Implement cypress E2E tests
  .eslintrc.js
  README.md
  cypress.json
  docs/E2E_TESTS.md
  docs/FRONTEND.md
  package-lock.json
  package.json
  scripts/helpers/functions/is-dev-server-running.function.js
  scripts/helpers/functions/transform-args.function.js
  scripts/run-cypress-tests.js
  scripts/start-web-server.js
  src/components/Contact/ContactItem.vue
  src/components/Document/DocumentItem.vue
  src/components/Document/DocumentTab.vue
  src/components/Navigation/Navigation.vue
  src/components/Navigation/NavigationItem.vue
  src/components/Person/Person.vue
  src/views/Contact.vue
  src/views/Documents.vue
  src/views/Home.vue
  src/views/Team.vue
  tests/e2e/.eslintrc.js
  tests/e2e/functions/e2e-id.function.js
  tests/e2e/functions/wait-until-visible.function.js
  tests/e2e/integration/navigation/navigation.e2e.js
  tests/e2e/integration/views/contact/contact.e2e.js
  tests/e2e/integration/views/documents/documents.e2e.js
  tests/e2e/integration/views/home/home.e2e.js
  tests/e2e/integration/views/team/team.e2e.js
  tests/e2e/pageobjects/contact/contact.pageobject.js
  tests/e2e/pageobjects/documents/documents.pageobject.js
  tests/e2e/pageobjects/global/navigation/navigation.pageobject.js
  tests/e2e/pageobjects/home/home.pageobject.js
  tests/e2e/pageobjects/team/team.pageobject.js
  tests/e2e/plugins/index.js
  tests/e2e/support/commands.js
  tests/e2e/support/index.js
Labels: docs, tests

#10 PW-20 Unit tests
  .eslintrc.js
  docs/UNIT_TEST.md
  package-lock.json
  package.json
  src/components/Navigation/Navigation.vue
  tests/unit/ContactItem.spec.js
  tests/unit/DocumentItem.spec.js
  tests/unit/Person.spec.js
Labels: tests

#11 PW-22 Add dynamic page title
  src/main.js
  src/router/index.js
Labels: feature

#12 PW-18 Deploy team web
  docs/DEPLOY.md
Labels: docs

#13 PW-23 Update documents
  src/components/Document/DocumentItem.vue
  src/views/Documents.vue
Labels: docs

#18 PW-25 Add documentation about adding docs to the web
  README.md
  docs/UPLOADING_DOCUMENTS.md
Labels: docs

#17 PW-24 Implement 404 page
  src/router/index.js
  src/views/404.vue
Labels: feature

#20 PW-30 Write down code review methodology
  src/views/Documents.vue
Labels: docs
